@tailwind base;
@tailwind components;

/* base_colors */
/* pma-black    #434343 */
/* pma-gray     #f2f3f3 */
/* pma-green    #8FF261 */
/* pma-orange   #FC973B */
/* card-outline #D3D3D3 */

/* global assets */
.contents-title {
  @apply w-72 h-16 flex justify-center items-center font-semibold text-2xl tracking-wider;
}

.btn {
  @apply w-10 h-16 absolute top-2 right-0;
}
.btn-icon {
  @apply w-10 h-10 rounded-full;
  background-color: #8FF261;
}

/* Header component */
.header {
  @apply h-8;
  background-color: #434343;
}
.logo {
  @apply w-28 h-8 ml-3;
  background-color: #f2f3f3;
}
.logo-title {
  @apply w-28 h-8 flex justify-center items-center font-bold text-lg;
  letter-spacing: .3em;
}

/* HouseMakers component */

@tailwind utilities;